@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

.container {
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    padding: 40px;
  }

  &__form {
    background-color: white;
    max-width: 1220px;
    height: max-content;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    &--header {
      background-color: black;
      padding-block: 16px;
      color: white;
      text-align: center;
      padding-inline: 10px;

      h1 {
        font-size: 18px;
        line-height: 26px;
      }

      p {
        font-size: 16px;
        line-height: 16px;
      }

      @media (min-width: 768px) {
        h1 {
          font-size: 32px;
          line-height: 40px;
        }

        p {
          font-size: 26px;
          line-height: 26px;
        }
      }
    }

    &--body {
      padding: 16px;

      @media (min-width: 768px) {
        padding: 40px;
      }
    }

    &--paragraph {
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      padding-block: 20px;
    }

  }
}