.container__check {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: flex-start;
  font-size: 12px;

  label {
    font-weight: 600;
  }

  input {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    color: red;
    font-weight: 500;
  }
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: rgb(8, 8, 8);
  outline: none;
  cursor: pointer;
}


input[type="checkbox"]:checked::after {
  content: "\2713";
  display: flex;
  width: 10px;
  height: 10px;
  align-items: center;
  color: white;

}